<section id="new-post-page">

  <div id="create-post">
    <h2>Create New Post</h2>
    <form id="post-input">
      <div>
        <input class="inputis-primary input is-medium" type="text" placeholder="Title">
      </div>
      <div>
        <input class="input is-medium input is-link" type="text" placeholder="Link">
      </div>
      <button id="create-btn" type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</section>

<script src="/javascript/add-post.js"></script>